@import "tailwindcss";

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/public/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts/MyFont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
